*{
  
  justify-content: center;
}
.product-card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.product-brand{
  color: gray;
  font-size: x-small;
}
.product-price {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.add-button {
  background-color: #080808;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.add-button:hover {
  background-color: #000000;
  transform: scale(1.1);
}
